<a href="https://colab.research.google.com/github/pu-bi/AI-industry-job-experience-for-non-majors/blob/main/2-preprocess/split_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data 분리하기

In [ ]:
# mount
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/week_2/finetuning/processed_jeju.csv"
data_df = pd.read_csv(file_path, index_col=0, header=0)
data_df

                        문장   활동   숙소   맛집   날씨   카페   인사  관광지추천   소개
0                 제주도 놀 것   1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
1               제주도 놀 것 추천  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
2              제주도 놀 것 말해줘  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
3              제주도 놀 것 알려줘  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
4             제주도 놀 것 추천해봐  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
...                    ...  ...  ...  ...  ...  ...  ...    ...  ...
3356    서핑 할 수 있는 관광지 추천해봐  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3357    서핑 할 수 있는 관광지 추천 고  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3358   서핑 할 수 있는 관광지 추천해주라  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3359  서핑 할 수 있는 관광지 추천 부탁해  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3360  서핑 할 수 있는 관광지 추천해주세요  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0

[3361 rows x 9 columns]

In [ ]:
df_train = data_df.sample(frac=0.8, random_state=1)
print(df_train)
print()
print(f"length of train df: {len(df_train)}")

                        문장   활동   숙소   맛집   날씨   카페   인사  관광지추천   소개
3282  생일에 가기 좋은 관광지 추천 부탁해  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
2941              제주도 섬 소개  0.0  0.0  0.0  0.0  0.0  0.0    0.0  1.0
2366           제주도 여행 알려줘요  0.0  0.0  0.0  0.0  0.0  1.0    0.0  0.0
761        제주도에서 잘 곳 알려주라.  0.0  1.0  0.0  0.0  0.0  0.0    0.0  0.0
2798         아 제주도 역사 소개해줘  0.0  0.0  0.0  0.0  0.0  0.0    0.0  1.0
...                    ...  ...  ...  ...  ...  ...  ...    ...  ...
2736       제주시의 행정구역을 소개해줘  0.0  0.0  0.0  0.0  0.0  0.0    0.0  1.0
1952      빵을 아 파는 카페가 있나요?  0.0  0.0  0.0  0.0  1.0  0.0    0.0  0.0
66           제주도 만원대 활동 추천  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
1055     아 섭지코지 근처 맛집 추천해줘  0.0  0.0  1.0  0.0  0.0  0.0    0.0  0.0
1739            제주도 카페 있어?  0.0  0.0  0.0  0.0  1.0  0.0    0.0  0.0

[2689 rows x 9 columns]

length of train df: 2689

In [ ]:
df_remain = data_df.drop(df_train.index)
df_eval = df_remain.sample(frac=0.5, random_state=1)
df_test = df_remain.drop(df_eval.index)
print(df_eval)
print()
print(f"length of test df: {len(df_eval)}")
print()
print(df_test)
print()
print(f"length of test df: {len(df_test)}")

                        문장   활동   숙소   맛집   날씨   카페   인사  관광지추천   소개
524             중문 커플 숙소추천  0.0  1.0  0.0  0.0  0.0  0.0    0.0  0.0
2077     주차장이 넓은 아 카페 알려줘.  0.0  0.0  0.0  0.0  1.0  0.0    0.0  0.0
545             제주도 풀빌라 추천  0.0  1.0  0.0  0.0  0.0  0.0    0.0  0.0
2714   제주도 무인도 갯수 소개 부탁합니다  0.0  0.0  0.0  0.0  0.0  0.0    0.0  1.0
290       서귀포시 2만원대 활동 뭐있어  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
...                    ...  ...  ...  ...  ...  ...  ...    ...  ...
3333        모텔 근처 관광지 추천 고  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
2565        제주시 쪽 시장 소개해줘이  0.0  0.0  0.0  0.0  0.0  0.0    0.0  1.0
179   제주도 활동 중에 안피곤한거 추천해봐  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
2076    주차장이 근데 넓은 카페 알려줘.  0.0  0.0  0.0  0.0  1.0  0.0    0.0  0.0
960       제주시청 근처 맛집은 말해줘?  0.0  0.0  1.0  0.0  0.0  0.0    0.0  0.0

[336 rows x 9 columns]

length of test df: 336

                       문장   활동   숙소   맛집   날씨   카페   인사  관광지추천   소개
15           제주도 야외활동 알려줘  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
52       아 제주도 재미있는거 추천해줘  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
63    제주도 기념일에 할만한 활동 뭐있어  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
71         제주도 만원대 활동 뭐있어  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
86        제주도 2만원대 활동 뭐있어  1.0  0.0  0.0  0.0  0.0  0.0    0.0  0.0
...                   ...  ...  ...  ...  ...  ...  ...    ...  ...
3308       호텔 근처 관광지 추천 고  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3312     호텔 근처 관광지 추천해주세요  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3328  동문 시장 근처 관광지 추천 부탁해  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3341       숙소 근처 관광지 추천해봐  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0
3353     서핑 할 수 있는 관광지 추천  0.0  0.0  0.0  0.0  0.0  0.0    1.0  0.0

[336 rows x 9 columns]

length of test df: 336

In [ ]:
train_path = "/content/drive/MyDrive/week_2/finetuning/processed_jeju_train.csv"
eval_path = "/content/drive/MyDrive/week_2/finetuning/processed_jeju_eval.csv"
test_path = "/content/drive/MyDrive/week_2/finetuning/processed_jeju_test.csv"
df_train.to_csv(train_path)
df_eval.to_csv(eval_path)
df_test.to_csv(test_path)